extend index

block contentFromExtendedPage

  div
    div(align="right")
      span Likes: 
      span= instagramMediaObjectDetail_fromNode.likes.count
    img(style="width:100%; display: inline-block" src= instagramMediaObjectDetail_fromNode.images.standard_resolution.url )
    div(align="right")
      span Picture Taken @
      p= moment_FromNode(parseFloat(instagramMediaObjectDetail_fromNode.created_time) * 1000).format('MM/DD/YYYY HH:mm:ss')
      
  p <strong>More Information from User </strong>


  div(style="width:100%; display: inline-block")
    img( src= instagramMediaObjectDetail_fromNode.user.profile_picture )
  
  
  div
  
  
    table(style="width:100%")
      tr
        td(style="width:30%") Username
        td(style="width:70%")= instagramMediaObjectDetail_fromNode.user.username
      tr
        td Full Name
        td= instagramMediaObjectDetail_fromNode.user.full_name  