doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title= tabTitle_fromNode
    
  
    
  body
    .header
      h1.page-title= headerTitle_fromNode
    
    .main-content
      block contentFromExtendedPage

