extend index

block contentFromExtendedPage
  
  div
    - each imObject in instagramMediaObjects_fromNode
      - var hrefLinkToDetail = "/stream/" + imObject.id     
      a( href= hrefLinkToDetail )
        img( src= imObject.image.url width= 320 height= 320 )


  
  